<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.provider.dataprovider.dao.IUserDao">
  <resultMap id="UserMap" type="com.provider.dataprovider.entity.User">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>

  <select id="getUserByPage" parameterType="java.util.Map" resultMap="UserMap">
    select
    id,
    name,
    password
    from u_user
    <if test = "id != null and id != ''">
      and id =#{id}
    </if>
    <if test = "name != null and name != ''">
      and name =#{name}
    </if>
    <if test = "password != null and password != ''">
      and password =#{password}
    </if>
  </select>

  <select id="getUserByTotal" parameterType="String" resultType="Integer">
   select count(*) from  u_user
  </select>


  <!--<delete id="deleteByExample" parameterType="com.provider.dataprovider.entity.UserExample">-->
    <!--delete from u_user-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <insert id="insert" parameterType="com.provider.dataprovider.entity.User">
    insert into u_user (id, name, password
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.provider.dataprovider.entity.User">
    insert into u_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
<!--  <update id="updateByExample" parameterType="map">
    update u_user
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>-->
</mapper>